{% include 'Public/Header.html.twig' with {'page_name': 'About'} %}
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>About Us</h1>
            <br />
            <p class="lead">CockroachDB lets you see the worldwide status of your distributed CockroachDB cluster live.</p>
        </div>
    </div>

</div>
{% include 'Public/Footer.html.twig' %}
